
/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* Обнуление фона кнопок */
button {
	background-color: transparent;
}
/*--------------------*/


/* Шрифт по умолчанию */
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
/* --------------------- */

/* Цвета */
:root {
	--lightgreen-color: #E1EDE6;
	--lightgreen-color-btn: #D4E8D9;
	--btnactive-color: #376B44;
	--btnactive_text-color: #F4F6F5;
	--green-color: #598D66;
	--black-color: #2C2D35;
	--gray-color: #86928B;
	--yellow-color: #EEDB6D;
	--white-color: #F4F6F5;
	--card_border-color: #598D66;
	--card_text-color: #2C2D35;
	--card_greytext-color: #86928B;
	--card_backgr-color: #E1EDE6;
	--new-coll-descr-color: #FFFFFF;
	--new-coll-title-color: #F4F6F5;
	--new-coll-button-color: #EEDB6D;
	--new-coll-button-text-color: #2C2D35;
}
/* --------------------- */

.container {
	max-width: 1160px;
	padding: 0 25px;
	margin: 0 auto     ;
}

.header {
	background-color: var(--lightgreen-color);
}
.header__body {
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.header__logo {
}
.header__menu {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
}

.header__menu-item {
	padding-right:  60px;
	font-size: 20px;
}

.header__menu-item:hover{
	text-decoration: underline;
}

.header__shopping-cart {
}

.production {
}
.production__body {
	display: flex;
}
.production__pic {
	flex: 1;
}
.production__right-block {
	flex: 1;
	padding: 0 15px;

}
.production__title {
	font-size: 60px;
	line-height: 1.1em;
	margin-bottom: 20px;
}
.production__title span {
	color: var(--green-color);
}
.production__discr {
	color: var(--gray-color);
	line-height: 1.5em;
	margin-bottom: 60px;
}
.production__button {
	padding: 19px 58px;
	font-size: 20px;
	color: var(--green-color);
	border: 1px solid var(--green-color);
	background-color: transparent;
}

.production__button:hover {
	box-shadow:  0 0 10px gray;
}

.catalog {
}
.catalog__header {
	display: flex;
	justify-content: space-between;
}
.catalog__title {
	font-size: 40px;
	line-height: 1.1em;
	margin-bottom: 30px;
}
.catalog__tabs {
	display: flex;
}
.catalog__tabs-item {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 126px; */
	height: 43px;
	padding: 0px 20px;
	background-color: var(--lightgreen-color-btn);
	color: var(--black-color);
	border-radius: 21.5px;
	margin-left: 32px;
}
.catalog__tabs-itemtxt {
	font-size: 20px;
}

.catalog__tabs-item:hover {
	box-shadow: 0 0 10px gray;
}


.catalog__tabs-item_active {
	background-color: var(--btnactive-color);
	color: var(--btnactive_text-color);
}
.catalog__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 70px -15px;
}

.catalog__body_unactive {
	display: none;
	/* flex-wrap: wrap; */
	/* margin: 0 -15px 70px -15px; */
}

.catalog__item {
	padding: 0 15px;
	flex: 1 1 33.333%;
	margin-bottom: 30px;
}

.catalog__item-body {
	display: flex;
	flex-direction: column;
	background-color: var(--card_backgr-color);
	padding: 20px 20px 30px 20px;
}
.catalog__item-pic {
	margin-bottom: 20px;
}
.catalog__item-author {
	color: var(--card_greytext-color);
	margin-bottom: 10px;
}
.catalog__item-name {
	font-size: 30px;
	color: var(--card_text-color);
	margin-bottom: 8px;

}
.catalog__item-prop {
	color: var(--card_text-color);
	margin-bottom: 30px;
}
.catalog__item-price {
	font-size: 24px;
	color: var(--card_border-color);
	margin-bottom: 20px;
}
.catalog__item-button {
	padding: 21px 105px;
	background-color: transparent;
	border: 1px solid var(--card_border-color);
	color: var(--card_border-color);
	font-size: 20px;
}

.catalog__item-button:hover{
	box-shadow:  0 0 10px gray;
}


.new-collection {
	background-image: url('../img/main/new-banner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 70px;
}
.new-collection__body {
	/* margin: auto; */
	/* height: auto; */
	/* height: 300px; */
	width: 48%;
	padding: 70px 0;
}

.new-collection__title-item {
	display: flex;
	margin-bottom: 20px;
}

.new-collection__logo {
	padding-right: 20px;
}
.new-collection__title {
	color: var(--new-coll-title-color);
	font-size: 40px;
}
.new-collection__text {
	color: var(--new-coll-descr-color);
	line-height: 1.5em;
	margin-bottom: 60px;

}
.new-collection__button {
	background-color: var(--new-coll-button-color);
	color: var(--new-coll-button-text-color);
	font-size: 20px;
	padding: 21px 61px;
}

.new-collection__button:hover {
	box-shadow:  0 0 10px white;
}
	
.team {
	margin-bottom: 70px;
}
.team__body {
	display: flex;
}
.team__left-image {
}
.team__right-column {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-bottom: 44px;
	justify-content: flex-end;
}
.team__title {
	font-size: 40px;
	color: var(--black-color);
	margin-bottom: 20px;
}
.team__text {
	color: var(--black-color);
	line-height: 1.5em;
	margin-bottom: 20px;

}
.team__photos {
	display: flex;
	gap: 30px;
}
.team__photo {
}


.footer {
	background-color: var(--lightgreen-color);
}

.footer__body {
	display: flex;
	padding: 23px 0;
}

.footer__left-col {
	margin-right: 4%;
}
.footer__logo {
	margin-bottom: 35px;
}
.footer__tel {
	color: var(--black-color);
	font-size: 20px;
	margin-bottom: 8px;
}
.footer__creator {
	color: var(--gray-color);
}
.footer__nav {
	padding: 0 60px;
	display: flex;
	gap: 60px; 
	flex: 1 1 auto;
}
.footer__nav-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footer__nav-title {
	font-size: 20px;
	color: var(--black-color);
}
.footer__nav-title:hover {
	text-decoration: underline;
}

.footer__nav-item {
	color: var(--gray-color);
	line-height: 1.5em;
}

.footer__nav-item:hover {
	text-decoration: underline;
}

.footer__right-block {
}
.footer__socials-body {
	display: flex;
	gap: 30px;
	/* flex-direction: column; */
	margin-bottom: 10px;
}
.footer__socials-item {
}
.footer__rights {
	font-size: 12px;
	color: var(--gray-color);
	line-height: 1.2em;
}



