
/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* Обнуление фона кнопок */
button {
	background-color: transparent;
}
/*--------------------*/


/* Шрифт по умолчанию */
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
/* --------------------- */

/* Цвета */
:root {
	--lightgreen-color: #E1EDE6;
	--lightgreen-color-btn: #D4E8D9;
	--btnactive-color: #376B44;
	--btnactive_text-color: #F4F6F5;
	--green-color: #598D66;
	--black-color: #2C2D35;
	--gray-color: #86928B;
	--yellow-color: #EEDB6D;
	--white-color: #F4F6F5;
	--card_border-color: #598D66;
	--card_text-color: #2C2D35;
	--card_greytext-color: #86928B;
	--card_backgr-color: #E1EDE6;
	--new-coll-descr-color: #FFFFFF;
	--new-coll-title-color: #F4F6F5;
	--new-coll-button-color: #EEDB6D;
	--new-coll-button-text-color: #2C2D35;
}
/* --------------------- */

.container {
	max-width: 1160px;
	padding: 0 25px;
	margin: 0 auto     ;
}

button {
	transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header {
	background-color: var(--lightgreen-color);
}
.header__body {
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.header__logo {
}
.header__menu {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
}

.header__menu-item {
	padding-right:  60px;
	font-size: 20px;
}

.header__menu-item:hover{
	text-decoration: underline;
}

.header__burger-menu {
	display: none;
}
.header__burger-menu-icon {
	display: none;
}
.header__burger-menu-item {
	display: none;
}


.header__icons {
}
.header__burger {
	/* скрываем иконку бургера, нужную в мобильной версии */
	display: none;
}


.header__shopping-cart {
}

.production {
	margin-bottom: 70px;
}
.production__body {
	display: flex;
}
.production__pic {
	flex: 1 1 auto;
	max-width: 50%;
	object-fit: contain;

}
.production__right-block {
	flex: 1 1 auto;
	padding: 0 15px;

}
.production__title {
	font-size: 60px;
	line-height: 1.1em;
	margin-bottom: 20px;
}
.production__title span {
	color: var(--green-color);
}
.production__discr {
	color: var(--gray-color);
	line-height: 1.5em;
	margin-bottom: 60px;
}
.production__button {
	padding: 19px 58px;
	font-size: 20px;
	color: var(--green-color);
	border: 1px solid var(--green-color);
	background-color: transparent;
}

.production__button:hover {
	box-shadow:  0 0 10px gray;
}

.catalog {
}
.catalog__header {
	display: flex;
	justify-content: space-between;
}
.catalog__title {
	font-size: 40px;
	line-height: 1.1em;
	margin-right: 32px;
}
.catalog__tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-bottom: 30px;
}
.catalog__tabs-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 43px;
	padding: 0px 20px;
	background-color: var(--lightgreen-color-btn);
	color: var(--black-color);
	border-radius: 21.5px;
	/* margin-left: 32px; */
}
.catalog__tabs-itemtxt {
	font-size: 20px;
}

.catalog__tabs-item:hover {
	box-shadow: 0 0 10px gray;
}


.catalog__tabs-item_active {
	background-color: var(--btnactive-color);
	color: var(--btnactive_text-color);
}
.catalog__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 70px -15px;
}

.catalog__body_unactive {
	display: none;
	/* flex-wrap: wrap; */
	/* margin: 0 -15px 70px -15px; */
}

.catalog__item {
	padding: 0 15px;
	flex: 1 1 33.333%;
	margin-bottom: 30px;
}

.catalog__item-body {
	display: flex;
	flex-direction: column;
	background-color: var(--card_backgr-color);
	padding: 20px 20px 30px 20px;
}
.catalog__item-pic {
	margin-bottom: 20px;
}
.catalog__item-author {
	color: var(--card_greytext-color);
	margin-bottom: 10px;
}
.catalog__item-name {
	font-size: 30px;
	color: var(--card_text-color);
	margin-bottom: 8px;

}
.catalog__item-prop {
	color: var(--card_text-color);
	margin-bottom: 30px;
}
.catalog__item-price {
	font-size: 24px;
	color: var(--card_border-color);
	margin-bottom: 20px;
}
.catalog__item-button {
	padding: 21px 105px;
	background-color: transparent;
	border: 1px solid var(--card_border-color);
	color: var(--card_border-color);
	font-size: 20px;
}

.catalog__item-button:hover{
	box-shadow:  0 0 10px gray;
}


.new-collection {
	background-image: url('../img/main/new-banner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 70px;
}
.new-collection__body {
	/* margin: auto; */
	/* height: auto; */
	/* height: 300px; */
	width: 48%;
	padding: 70px 0;
}

.new-collection__title-item {
	display: flex;
	margin-bottom: 20px;
}

.new-collection__logo {
	padding-right: 20px;
}
.new-collection__title {
	color: var(--new-coll-title-color);
	font-size: 40px;
}
.new-collection__text {
	color: var(--new-coll-descr-color);
	line-height: 1.5em;
	margin-bottom: 60px;

}
.new-collection__button {
	background-color: var(--new-coll-button-color);
	color: var(--new-coll-button-text-color);
	font-size: 20px;
	padding: 21px 61px;
}

.new-collection__button:hover {
	box-shadow:  0 0 10px white;
}
	
.team {
	margin-bottom: 70px;
}
.team__body {
	display: flex;
}
.team__left-image {
	flex: 1 1 auto;
	max-width: 40%;
	object-fit: contain;
}
.team__right-column {
	flex: 2 2 auto;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-bottom: 44px;
	justify-content: flex-end;
}
.team__title {
	font-size: 40px;
	color: var(--black-color);
	margin-bottom: 20px;
}
.team__text {
	color: var(--black-color);
	line-height: 1.5em;
	margin-bottom: 20px;

}
.team__photos {
	display: flex;
	gap: 30px;
}
.team__photo {
}

/* Нижний колонтитул */
.footer {
	background-color: var(--lightgreen-color);
}
.footer__body {
	display: flex;
	padding: 23px 0;
}
.footer__mobile-logo {
	display: none;
}
.footer__columns {
	padding-right: 20px;
	display: flex;
	gap: 5.4%; 
	flex: 1 1 auto;
}
.footer__left-column {
	margin-right: 5%;
	min-width: 170px;
}
.footer__logo {
	margin-bottom: 35px;
}
.footer__tel {
	color: var(--black-color);
	font-size: 20px;
	margin-bottom: 8px;
}
.footer__creator {
	color: var(--gray-color);
}
.footer__nav-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.footer__nav-title {
	font-size: 20px;
	color: var(--black-color);
}
.footer__nav-title:hover {
	text-decoration: underline;
}
.footer__nav-item {
	color: var(--gray-color);
	line-height: 1.5em;
}
.footer__nav-item:hover {
	text-decoration: underline;
}
.footer__right-block {
}
.footer__socials-body {
	display: flex;
	gap: 30px;
	margin-bottom: 10px;
}
.footer__socials-item {
}
.footer__rights {
	font-size: 12px;
	color: var(--gray-color);
	line-height: 1.2em;
}

/* Меддиа запросы */
@media (max-width: 740px) {

	.container {
		/* max-width: 100%; */
		padding: 0 15px;
	}	

	/* Верхний колонтитул */
	.header {
		background-color: transparent;
		margin-bottom: 60px;

	}
	.header__body {
		flex-direction: column;
		height: auto;
		padding: 0 0;
		margin: 0 -15px;
	}
	.header__logo {
		background-color: white;
		padding: 16px 0;
		/* height: 68px; */
	}
	.header__menu {
		display: none;
	}
	.header__menu-item {
		display: none;
	}

	/* Бургер меню */
	.header__burger-menu_unactive {
		display: none;
	}
	.header__burger-menu_active {
		display: flex;
		position: absolute;
		width: 100%;
		margin: 0 -15px;
		padding: 0px 15px 126px 15px;

		flex-direction: column;
		align-items: flex-start;
		background-color: var(--lightgreen-color);
	}
	.header__burger-menu-icon {
		display: block;
		margin-bottom: 30px;
		margin-left: -5px;
	}
	.header__burger-menu-item {
		display: block;
		margin-bottom: 50px;
		font-size: 18px;
	}
	.header__burger-menu-item:last-child {
		margin-bottom: 0px;
	}
	/* ****************************** */





	.header__icons {
		display: flex;
		width: 100%;
		/* height: 62px; */
		justify-content: space-between;
		background-color: var(--lightgreen-color);
		padding: 16px 15px;
	}
	.header__burger {
		display: block;
	}
	.header__shopping-cart {
		background-color: var(--lightgreen-color);
	}
	
	/* Секция о продукции */
	.production {
		margin-bottom: 60px;
	}
	.production__pic {
		display: none;
	}
	.production__title {
		font-size: 30px;
		line-height: 1em;
	}
	.production__discr {
		font-size: 14px;
		margin-bottom: 40px;
	}
	.production__button {
		padding: 13px 24px;
	}


	/* Каталог */
	.catalog__header {
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 20px;
	}
	.catalog__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.catalog__tabs {
		gap: 20px;
	}
	.catalog__tabs-item {
		margin-left: 0px;
	}
	.catalog__tabs-itemtxt {
		font-size: 18px;
	}
	.catalog__body {
		margin: 0 -15px 60px -15px;
	}
	.catalog__item {
		flex: 1 1 100%;
		padding: 0 15px;
	}
	.catalog__item-pic {
		margin-bottom: 15px;
	}
	.catalog__item-author {
		font-size: 18px;
	}
	.catalog__item-name {
		margin-bottom: 10px;
		font-size: 24px;
	}
	.catalog__item-prop {
		font-size: 16px;
	}
	.catalog__item-price {
		margin-bottom: 10px;
		font-size: 20px;
	}
	.catalog__item-button {
		font-size: 18px;
		padding: 18px auto;
	}

	/* Новая коллекция */
	.new-collection {
		background-image: url('../img/main/new-banner-mobile.png');
		margin-bottom: 60px;

	}
	.new-collection__body {
		width: 100%;
		padding: 50px 0;
	}
	
	.new-collection__title {
		font-size: 24px;
		text-shadow:	1px 1px 6px black,
						1px -1px 6px black,
						-1px 1px 6px black,
						-1px -1px 6px black;
	}
	.new-collection__text {
		font-size: 16px;
		line-height: 1.4em;
		margin-bottom: 30px;
		text-shadow:	1px 1px 6px black,
						1px -1px 6px black,
						-1px 1px 6px black,
						-1px -1px 6px black;
		
	}
	.new-collection__button {
		padding: 15px 0;
		width: 100%;
		font-size: 18px;
	}

	/* Наша команда */
	.team {
		margin-bottom: 94px;
	}
	.team__body {
		flex-direction: column;
	}
	.team__left-image {
		margin-bottom: 30px;
	}
	.team__right-column {
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.team__title {
		font-size: 24px;
		line-height: 1.1em;
	}
	.team__text {
		font-size: 16px;
		line-height: 1.4em;
	}
	.team__photos {
		gap: 25px;
		flex-wrap: wrap;
	}

	/* Нижний колонтитул */
	.footer__body {
		flex-direction: column;
	}
	.footer__mobile-logo {
		display: block;
		margin-bottom: 35px;
	}
	.footer__columns {
		flex-wrap: wrap;
		padding-right: 0px;
		flex: 1 1 auto;
		gap: 0; 
	}
	.footer__left-column {
		flex: 1 1 50%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.footer__logo {
		display: none;
	}
	.footer__tel {
		font-size: 16px;
	}
	.footer__creator {
		font-size: 16px;
	}
	.footer__nav-column {
		flex: 1 1 50%;
		margin-bottom: 20px;
	}
	.footer__nav-item {
		font-size: 16px;
	}
	.footer__right-block {
		display: flex;
		flex-direction: column;
        align-items: center;
	}
	.footer__rights {
		display: flex;
		gap: 5px;
	}

	.footer__line {
		height: 1px;
		width: 100%;
		background-color: #C3D1C6;
		margin-bottom: 20px;
	}
}



